In [32]:
import pandas as pd
import numpy as np
import pymysql
from sqlalchemy import create_engine

In [33]:
import getpass

In [34]:
password = getpass.getpass()

········

In [35]:
#To import SQL data bases

In [36]:
connection_string = 'mysql+pymysql://root:'+password+'@localhost/sakila'
engine = create_engine(connection_string)

In [37]:
#1.How many distinct (different) actors' last names are there?

In [38]:
actor_last_name = pd.read_sql_query('SELECT  COUNT(DISTINCT(last_name)) AS Diferent_actor FROM sakila.actor', engine)
actor_last_name.head()

   Diferent_actor
0             121

In [39]:
#2.Add an additional column day_type with values 'weekend' and 'workday' depending on the rental day of the week.
weekday = pd.read_sql_query('''SELECT *, \
CASE \
WHEN weekday(rental_date) < 5 then 'Weekday' \
ELSE 'Weekend' \
END AS 'day_type' \
FROM rental''', engine)
weekday.head()

,rental_id,rental_date,inventory_id,customer_id,return_date,staff_id,last_update,day_type
0,1,2005-05-24 22:53:30,367,130,2005-05-26 22:04:30,1,2006-02-15 21:30:53,Weekday
1,2,2005-05-24 22:54:33,1525,459,2005-05-28 19:40:33,1,2006-02-15 21:30:53,Weekday
2,3,2005-05-24 23:03:39,1711,408,2005-06-01 22:12:39,1,2006-02-15 21:30:53,Weekday
3,4,2005-05-24 23:04:41,2452,333,2005-06-03 01:43:41,2,2006-02-15 21:30:53,Weekday
4,5,2005-05-24 23:05:21,2079,222,2005-06-02 04:33:21,1,2006-02-15 21:30:53,Weekday

In [68]:
#3.Get all films with ARMAGEDDON in the title.
query = '''SELECT title FROM sakila.film WHERE title LIKE '.ARMAGEDDON.' ''';

data = pd.read_sql_query(query, engine)
data.head()

Empty DataFrame
Columns: [title]
Index: []

In [53]:
#4.Get 10 the longest films.

longest_film = pd.read_sql_query("SELECT length FROM film \
ORDER BY length desc  \
LIMIT 10", engine)
longest_film.head()

   length
0     185
1     185
2     185
3     185
4     185

In [54]:
#5.How many films include Behind the Scenes content?
films_bs = pd.read_sql_query('''SELECT COUNT(special_features) \ 
FROM film \
WHERE special_features LIKE '%Behind the Scenes%' ''', engine)
films_bs.head()

ValueError: unsupported format character 'B' (0x42) at index 74

In [56]:
#6.Which kind of movies (rating) have a mean duration of more than two hours?
duration = pd.read_sql_query('''SELECT rating AS Rating, round(AVG(length),2) as 'Average duration'
FROM film \
GROUP BY rating \
HAVING round(AVG(length),2)>120 ''', engine)
duration.head()

  Rating  Average duration
0  PG-13            120.44

In [ ]:
#7.Rank films by length (filter out the rows that have nulls or 0s in length column). In your output, only select the columns title, length, and the rank.

In [58]:
rank_films = pd.read_sql_query(''' SELECT title, length, rating \
FROM film \
WHERE (length IS NOT NULL) AND (length <> 0) \
ORDER BY length ''', engine)
rank_films.head()

                 title  length rating
0         ALIEN CENTER      46  NC-17
1            IRON MOON      46     PG
2        KWAI HOMEWARD      46  PG-13
3     LABYRINTH LEAGUE      46  PG-13
4  RIDGEMONT SUBMARINE      46  PG-13

In [72]:
import sqlalchemy
sqlalchemy.__version__

'1.4.4'